@inherits UmbracoTemplatePage
@{
    var root = Model.Content.AncestorOrSelf(1);
    var category = root.Descendants("categoryOverview").FirstOrDefault().Children().Where(x => x.IsVisible());
}

<div class="header-menu">
    <ul class="top-menu">
        @foreach (var subCategory in category)
        {
            @RenderCategory(subCategory)
        }
    </ul>
    <div class="menu-toggle">Categories</div>
    <ul class="top-menu mobile">
        @foreach (var subCategory in category)
        {
            @RenderCategory(subCategory)
        }
    </ul>
</div>

@helper RenderCategory(IPublishedContent subCategory)
{
    <li>
        <a href="@subCategory.Url">
            @subCategory.Name
        </a>
        @if (subCategory.Children != null && subCategory.Children.Any())
        {
            <div class="sublist-toggle"></div>
                <ul class="sublist first-level">
                    @foreach (var item in subCategory.Children.Where(x => x.IsVisible()))
                    {
                        <li>
                            <a href="@item.Url">
                                @item.Name
                            </a>

                        </li>
                    }
                </ul>
        }
    </li>
}
