@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var root = Model.Content.AncestorOrSelf(1);
    var categories = root.Descendants("categoryOverview").FirstOrDefault().Children().Where(x => x.IsVisible());
}

<div class="side-2">
    <div class="block block-category-navigation">
        <div class="title">
            <strong>Categories</strong>
        </div>
        <div class="listbox">
            <ul class="list">
                @foreach (var category in categories)
                {
                    <li class="@(Model.Content.Id == category.Id ? "active last" : "inactive")">
                        <a href="@category.Url">
                            @category.Name
                        </a>
                        <ul class="sublist">
                            @if (category.Children().Any())
                            {
                                foreach (var subCategory in category.Children().Where(x => x.IsVisible()))
                                {
                                    <li class="@(Model.Content.Id == subCategory.Id ? "active last" : "inactive")">
                                        <a href="@subCategory.Url">
                                            @subCategory.Name
                                        </a>
                                    </li>
                                }

                            }                          
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>